:root {
  /* light mode */
  --background-color-light: #ffffff;
  --text-color-light: #282828;
  --accent-color-light: #9068e0;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,600i|Source+Serif+Pro&display=swap');


* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0 40px;

  font-family: "Source Serif Pro", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span, a, label {
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}